@use '../susanoo';

html {
    scroll-behavior: smooth;
}

body {
    background: {
        color: var(--color-light-dark);
        image: linear-gradient(130deg, var(--color-light-purple), var(--color-light-dark) 0%, var(--color-light-purple), var(--color-light-dark) 100%);
    }
}
