@use '../susanoo';

html {
    scroll-behavior: smooth;
}

body {
    background: {
        color: var(--color-light-dark);
        image: linear-gradient(to right, var(--color-dark-blue), var(--color-pink));
    }
}
