@use 'animations';
@use '../susanoo';

@mixin loading-content($border-radius: susanoo.rem-calc(8)) {
    border: {
        radius: $border-radius;
    }
    background: {
        image: linear-gradient(-90deg, #171621 0%, #443b6c 50%, #333e5c 100%);
    }
    background: {
        size: 400% 400%;
    }
    animation: pulse 1.2s ease-in infinite;
}
