@use '../susanoo';

@mixin scrollbar($width: 30, $border-width: 12, $border-color: rgba(0, 0, 0, 0), $background-color: var(--color-primary), $hover-background-color: var(--color-light-purple)) {
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: susanoo.rem-calc($width);
    }
    &::-webkit-scrollbar-thumb {
        background: {
            color: $background-color;
            clip: padding-box;
        }
        border: {
            radius: susanoo.rem-calc(30);
            style: solid;
            width: susanoo.rem-calc($border-width);
            color: $border-color;
        }
        &:hover {
            background: {
                color: $hover-background-color;
            }
        }
    }
}

@mixin default-table($hover: var(--color-dirty-blue)) {
    table {
        border-spacing: 0 #{susanoo.rem-calc(4)};
        margin: {
            top: susanoo.rem-calc(4);
        }
        overflow-x: scroll;
    }
    thead {
        th {
            padding: susanoo.rem-calc(16) susanoo.rem-calc(16);
        }
    }
    tbody {
        margin: 0 susanoo.rem-calc(-16);
        tr {
            $border-radius: #{susanoo.rem-calc(12)};

            th {
                padding: {
                    top: susanoo.rem-calc(12);
                    left: susanoo.rem-calc(16);
                    bottom: susanoo.rem-calc(12);
                }
                border-top-left-radius: $border-radius;
                border-bottom-left-radius: $border-radius;
            }
            td {
                text-align: center;
                vertical-align: middle;
                padding: susanoo.rem-calc(12) 0;
                &:last-child {
                    padding: {
                        top: susanoo.rem-calc(12);
                        right: susanoo.rem-calc(16);
                        bottom: susanoo.rem-calc(12);
                    }
                    border-top-right-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                }
            }
            transition: background-color 0.15s linear;
            &:hover {
                background: {
                    color: $hover;
                }
            }
        }
    }
}

@mixin status() {
    .status {
        &.active {
            .label {
                background: {
                    color: var(--color-light-green);
                }
            }
        }
        &.inactive {
            .label {
                color: white;
                background: {
                    color: var(--color-red);
                }
            }
        }
        .label {
            display: inline-block;
            padding: susanoo.rem-calc(6) susanoo.rem-calc(10);
            border: {
                radius: susanoo.rem-calc(16);
            }
        }
    }
}
