@use '../susanoo';
@use '../utils/mixins' as utils;
@use '../lists';

.page-list {
    @include utils.default-table($hover: var(--color-light-purple));
    @include utils.status();
    tbody {
        tr {
            th {
                padding-left: 0;
                vertical-align: middle;
                font: {
                    weight: normal;
                }
            }
            td {
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
    td,
    th {
        text-align: center;
    }
    .actions {
        display: flex;
        justify-content: flex-end;
    }
    .table-wrapper {
        .button {
            text-transform: none;
            padding: susanoo.rem-calc(6) susanoo.rem-calc(20);
            background: {
                color: var(--color-orange);
            }
            &::after {
                background: {
                    color: var(--color-orange);
                }
            }
        }
    }
    .popup {
        .container {
            display: flex;
            flex-direction: column;
        }
        .components-container {
            display: flex;
            flex-direction: column;
            gap: susanoo.rem-calc(16);
            ul {
                margin: unset;
            }
            .headline {
                margin: unset;
            }
        }
        ul {
            @include lists.reset-list();
            margin: {
                top: susanoo.rem-calc(16);
            }
            li {
                padding: susanoo.rem-calc(8);
                border-radius: susanoo.rem-calc(4);
                cursor: pointer;
                margin: {
                    bottom: susanoo.rem-calc(8);
                }
                transition: background-color 0.2s ease-in-out;
                &.not-found {
                    background-color: transparent;
                    pointer-events: none;
                    text-align: center;
                    &::before,
                    &::after {
                        content: unset;
                    }
                }
            }
        }
        input {
            color: var(--color-white);
        }
        form {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        .input {
            background: {
                color: var(--color-dark);
            }
        }
        .headline {
            text-align: center;
        }
        .nested-page-name {
            color: var(--color-dark-pink);
        }
        .row {
            margin: {
                bottom: susanoo.rem-calc(16);
            }
        }
        .actions {
            justify-content: space-between;
            margin: {
                top: auto;
            }
        }
        .add-component-button {
            width: 100%;
        }
        .components-add-container,
        .pages-container {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        .components-add-container {
            .actions {
                justify-content: unset;
                button {
                    width: 100%;
                }
            }
            .components-list {
                li {
                    &:hover {
                        background: {
                            color: var(--color-green);
                        }
                    }
                    &::after {
                        top: 46%;
                        transform: rotate(90deg);
                    }
                }
            }
        }
        .generated-route {
            color: var(--color-orange);
            word-wrap: break-word;
        }
        .components-list {
            li {
                position: relative;
                background: {
                    color: var(--color-primary);
                }
                &:last-child {
                    margin-bottom: susanoo.rem-calc(16);
                }
                &:hover {
                    background: {
                        color: var(--color-red);
                    }
                    &::before,
                    &::after {
                        opacity: 1;
                        right: susanoo.rem-calc(8);
                    }
                }
                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: -2%;
                    transform: translateY(-50%);
                    height: 4px;
                    width: susanoo.rem-calc(16);
                    border: {
                        radius: susanoo.rem-calc(2);
                    }
                    opacity: 0;
                    background: {
                        color: var(--color-primary);
                    }
                    transition: opacity 0.2s linear, right 0.2s linear;
                }
            }
        }
        .pages-container {
            .actions {
                justify-content: unset;
                button {
                    width: 100%;
                }
            }
        }
        .pages-list {
            li {
                background: {
                    color: var(--color-dark-blue);
                }
                &:hover {
                    background: {
                        color: var(--color-green-dark);
                    }
                }
                &.is-active {
                    background: {
                        color: var(--color-green-dark);
                    }
                }
            }
        }
    }
    .no-components-added {
        text-align: center;
        margin: {
            bottom: susanoo.rem-calc(16);
        }
    }
}
