@use '../susanoo';
@use '../icons/variables' as icons;

.language-switch {
    position: relative;
    .language {
        display: flex;
        align-items: center;
        gap: susanoo.rem-calc(12);
        padding: 0 susanoo.rem-calc(12);
        border: {
            width: 2px;
            style: solid;
            color: var(--color-primary);
            radius: susanoo.rem-calc(8);
        }
        z-index: 20;
        cursor: pointer;
        transition: background-color 0.15s linear;
        &:hover {
            background: {
                color: var(--color-dark-blue);
            }
        }
        &.is-icon {
            padding: {
                right: susanoo.rem-calc(30);
            }
            &::after {
                @include susanoo.icon(icons.$icon-chevron-right);
                position: absolute;
                top: 50%;
                right: susanoo.rem-calc(6);
                font: {
                    size: susanoo.rem-calc(20);
                }
                transform: translateY(-50%);
                transition: top 0.15s linear, transform 0.15s linear;
            }
            &.open {
                &::after {
                    top: 30%;
                    transform-origin: center;
                    transform: rotate(90deg);
                }
            }
        }
    }
    .sub-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border: {
            width: 2px;
            style: solid;
            color: var(--color-primary);
            radius: susanoo.rem-calc(8);
        }
        background: {
            color: var(--color-primary);
        }
        .language {
            border: none;
        }
    }
    span {
        width: 60%;
        overflow-wrap: break-word;
    }
}
