@use '../susanoo';
@use '../lists/mixins' as lists;

.history {
    .user {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font: {
            size: susanoo.rem-calc(14);
        }
        img {
            $circle: #{susanoo.rem-calc(40)};

            width: $circle;
            height: $circle;
            min: {
                width: $circle;
            }
        }
        .image-wrapper {
            &::before {
                $circle: #{susanoo.rem-calc(14)};

                width: $circle;
                height: $circle;
            }
        }
    }
    ul {
        @include lists.reset-list();
    }
    li {
        &:not(:last-child) {
            margin: {
                bottom: susanoo.rem-calc(24);
            }
        }
    }
    .updated {
        padding: {
            top: 4px;
        }
        font: {
            size: susanoo.rem-calc(12);
        }
        color: var(--color-light-grey);
    }
}
