@use '../susanoo';

.overview {
    .charts {
        display: flex;
        gap: susanoo.rem-calc(30);
        justify-content: space-between;
        align-items: flex-end;
        .doughnut {
            width: susanoo.rem-calc(220);
            height: susanoo.rem-calc(220);
        }
        .line {
            height: susanoo.rem-calc(180);
            width: susanoo.rem-calc(320);
        }
    }
    .online-users {
        $bar-height: #{susanoo.rem-calc(12)};
        $bar-border-radius: #{susanoo.rem-calc(24)};

        .bar {
            position: relative;
            width: 100%;
            height: $bar-height;
            background: {
                color: var(--color-dark);
            }
            border: {
                radius: $bar-border-radius;
            }
        }
        .inner-bar {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 0;
            height: $bar-height;
            border: {
                radius: $bar-border-radius;
            }
            background: {
                image: linear-gradient(to right, var(--color-dark-blue), var(--color-light-blue), var(--color-teal));
            }
            transition: width 0.5s ease-in-out;
        }
    }
}
