*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  margin: 0;
  padding: 0;
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: system-ui, sans-serif;
  text-rendering: optimizeSpeed;
}

p,
ul:not([class]):not([role]) li,
ol:not([class]):not([role]) li {
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration-thickness: max(0.08em, 1px);
  text-underline-offset: 0.15em;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

svg {
  fill: currentColor;
  pointer-events: none;
}

[id] {
  scroll-margin-top: 2rem;
}

*:focus {
  scroll-margin-bottom: 8vh;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    transition-duration: 0.01ms !important;
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url("/icomoon.woff?9xu6g5") format("woff"), url("/icomoon.svg?9xu6g5#icomoon") format("svg");
}
@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: normal;
  src: local("Noto Sans JP Regular"), local("Noto-Sans-JP-Regular"), url("/noto-sans-regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans JP Bold"), local("Noto-Sans-JP-Bold"), url("/noto-sans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  --color-primary: #3c2d66;
  --color-light-purple: rgba(122, 61, 231, 85%);
  --color-light-dark: #212131;
  --color-dark-purple: #140b28;
  --color-dark: #171621;
  --color-light-grey: #677075;
  --color-light-blue: #5b7edf;
  --color-dirty-blue: #4f7079;
  --color-dark-blue: #333399;
  --color-pink: #ff00cc;
  --color-red: rgb(255 0 0 / 87%);
  --color-teal: rgb(0 255 255 / 87%);
  --color-green: #41b784;
  --color-light-green: #68e359;
  --color-green-main: #1ede97;
  --color-green-dark: #1b4a49;
  --color-orange: #fe8757;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: unset;
  font-weight: normal;
}
h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection {
  background: var(--color-primary);
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
  background: var(--color-primary);
}

.headline {
  color: var(--color-headline, var(--color-green-main));
  margin-bottom: 1.5rem;
}
.headline:not(:first-child) {
  margin-top: 1rem;
}

.h1 {
  font-size: clamp(2.875rem, 6vw, 4.5rem);
}

.h2 {
  font-size: clamp(2.5rem, 7vw, 3.75rem);
}

.h3 {
  font-size: clamp(2.25rem, 6vw, 3.375rem);
}

.h4 {
  font-size: clamp(1.875rem, 5vw, 2.75rem);
}

.h5 {
  font-size: clamp(1.5rem, 4vw, 1.625rem);
}

.wrapper {
  --wrapper: 90rem;
  max-width: var(--wrapper);
  margin: 0 auto;
}

html {
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-family: "Noto Sans JP", sans-serif;
}

.app {
  --grid-margin: 1.25rem;
  --panel-padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}
.grid--centered {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  grid-template-columns: repeat(16, 1fr);
}

.inner-panel {
  background-color: var(--color-light-dark);
}

.default-grid {
  display: flex;
  gap: var(--grid-margin);
}
.default-grid.one-two .middle-section {
  flex-direction: row;
}
.default-grid.one-two .right-section {
  flex-direction: column;
}
.default-grid.one-two .full {
  width: 100%;
  height: 100%;
}

.admin {
  --max-width: 21.25rem;
  max-width: var(---wrapper);
  color: var(--color-light-dark);
}
.admin .container {
  --columns: 16;
  grid-column: var(--column-start)/span var(--columns);
  --columns: 6;
  --column-start: 6;
  --padding-horizontal: 3.75rem;
  --background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-top: 1.25rem;
  padding-bottom: 3.75rem;
  padding-right: var(--padding-horizontal);
  padding-left: var(--padding-horizontal);
  border-radius: 0.375rem;
  background-color: var(--background-color);
  min-width: 25rem;
}
@media only screen and (max-width: 50em) {
  .admin .container {
    grid-column: var(--column-start-medium, var(--column-start))/span var(--column-medium, var(--columns));
  }
}
@media only screen and (max-width: 75em) {
  .admin .container {
    grid-column: var(--column-start-large, var(--column-start-medium, var(--column-start)))/span var(--column-large, var(--column-medium, var(--columns)));
  }
}
@media only screen and (max-width: 31.25em) {
  .admin .container {
    --columns: 16;
    --column-start: 1;
    --padding-horizontal: clamp(1.25rem, 9vw, 5rem);
    padding-top: 3.75rem;
    padding-bottom: 6.25rem;
    min-width: unset;
  }
  .admin .container .row:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
@media only screen and (max-width: 40em) {
  .admin .container {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .admin .container::-webkit-scrollbar {
    display: none;
  }
}
.admin .container::before {
  content: "";
  position: absolute;
  background-color: var(--background-color);
  filter: blur(2px);
  inset: 0;
  transform: rotate(-5deg);
  z-index: -1;
}
.admin .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
}
.admin .headline {
  color: var(--color-light-dark);
  text-align: center;
}
.admin .headline + span {
  display: block;
  text-align: center;
  margin-bottom: 1.25rem;
}
.admin form {
  width: 100%;
}
.admin form .row.login .input::before {
  content: "\e900";
}
.admin form .row.password .input::before {
  content: "\e901";
}
.admin form .row {
  width: 100%;
}
.admin form .row:not(:last-child) {
  margin-bottom: 1.25rem;
}
.admin .button {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.admin .account {
  display: block;
  text-align: center;
}

.input {
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
}
.input.is-invalid {
  border-color: var(--color-red);
}
.input.is-invalid + .error-message {
  color: var(--color-red);
  padding-left: 0.75rem;
}
.input.is-icon > input {
  padding-left: 2.5rem;
}
.input.is-icon::before {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: never;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 50%;
  left: 0.625rem;
  transform: translateY(-50%);
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.3);
}
.input:focus, .input:focus-within {
  border-color: var(--color-light-purple);
}
.input:focus::before, .input:focus-within::before {
  width: 100%;
}

.component:not(:last-child) {
  margin-bottom: 2.625rem;
}

.component-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
}
.component-inputs input,
.component-inputs textarea,
.component-inputs select {
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  color: white;
  background-color: rgba(103, 112, 117, 0.3764705882);
  padding: 0.375rem 0.75rem;
}
.component-inputs input:focus, .component-inputs input:focus-within,
.component-inputs textarea:focus,
.component-inputs textarea:focus-within,
.component-inputs select:focus,
.component-inputs select:focus-within {
  border-color: var(--color-green-main);
}
.component-inputs label {
  display: block;
  margin-bottom: 0.5rem;
}
.component-inputs textarea {
  min-height: 9.375rem;
}
.component-inputs .row {
  width: 100%;
  flex-grow: 1;
  gap: 0;
}
.component-inputs .row-half {
  padding: 0 2rem;
  margin: 0 -2rem;
  width: 50%;
}

input,
textarea,
select {
  width: 100%;
  border-style: unset;
  border-width: unset;
  border-color: unset;
  padding: 0.75rem;
  background-color: transparent;
  border-radius: 2px;
  color: var(--color-light-dark);
}
input:focus, input:focus-within,
textarea:focus,
textarea:focus-within,
select:focus,
select:focus-within {
  outline: unset;
}
input::-moz-selection, textarea::-moz-selection, select::-moz-selection {
  background: var(--color-light-purple);
}
input::selection,
textarea::selection,
select::selection {
  background: var(--color-light-purple);
}

textarea {
  resize: none;
  height: 9.375rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  background-color: var(--color-light-dark);
  background-image: linear-gradient(to right, var(--color-dark-blue), var(--color-pink));
}

button {
  background-color: unset;
  border: unset;
  cursor: pointer;
}
button:focus {
  outline: unset;
}

.button {
  --background-color: #e1c7eb;
  position: relative;
  padding: 0.75rem 1.125rem;
  color: var(--color-light-dark);
  text-transform: uppercase;
  background-color: var(--background-color);
  z-index: 1;
  transition: color 0.15s linear;
}
.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.button.is-login {
  width: 100%;
  overflow: hidden;
}
.button.is-login > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid var(--color-light-dark);
  z-index: -1;
}
.button.is-login > span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6%;
  height: 1000%;
  background-color: var(--background-color);
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: width 0.25s linear, background-color 0.25s linear, transform 0.25s linear;
}
.button.is-login:hover {
  color: white;
}
.button.is-login:hover span::before {
  width: 100%;
  transform: translate(-50%, -50%) rotate(60deg);
  background-color: var(--color-light-dark);
}
.button.is-login:disabled span::before {
  background-color: var(--color-light-dark);
}
.button:disabled {
  color: transparent;
  background-color: var(--color-light-dark);
  pointer-events: none;
}
.button:disabled::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--color-pink);
  -webkit-animation: disabled-1 1.5s cubic-bezier(0.65, 0.81, 0.73, 0.4) infinite;
          animation: disabled-1 1.5s cubic-bezier(0.65, 0.81, 0.73, 0.4) infinite;
}
.button:disabled::after {
  background-color: var(--color-pink);
  -webkit-animation: disabled-2 1.5s 1s cubic-bezier(0.16, 0.84, 0.44, 1) infinite;
          animation: disabled-2 1.5s 1s cubic-bezier(0.16, 0.84, 0.44, 1) infinite;
}
.button.is-primary {
  color: white;
  border-radius: 0.375rem;
  background-color: var(--color-light-purple);
}
.button.is-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.button.is-primary:hover::after {
  transform: scale(1.3);
  opacity: 0;
}
.button.is-primary::after {
  height: 100%;
  width: 100%;
  border-radius: 0.375rem;
  z-index: -1;
  transition: transform 0.6s, opacity 0.45s;
  background-color: var(--color-light-purple);
}
.button.is-secondary {
  color: var(--color-light-grey);
  text-transform: none;
  background-color: transparent;
  padding: 0.5rem 0.875rem;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-light-grey);
  transition: color 0.15s linear, border-bottom-color 0.15s linear;
}
.button.is-secondary:hover {
  color: var(--color-teal);
  border-bottom-color: var(--color-teal);
}
.button.is-secondary.is-active {
  color: var(--color-teal);
  border-bottom-color: var(--color-teal);
}

@-webkit-keyframes disabled-1 {
  0% {
    left: -200%;
    right: 100%;
  }
  60%, 100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes disabled-1 {
  0% {
    left: -200%;
    right: 100%;
  }
  60%, 100% {
    left: 100%;
    right: -90%;
  }
}
@-webkit-keyframes disabled-2 {
  0% {
    left: -200%;
    right: 100%;
  }
  60%, 100% {
    left: 107%;
    right: -8%;
  }
}
@keyframes disabled-2 {
  0% {
    left: -200%;
    right: 100%;
  }
  60%, 100% {
    left: 107%;
    right: -8%;
  }
}
.notification {
  --animation-duration: 0.35s;
  text-align: center;
  height: 0;
  width: 100%;
  border-radius: 2px;
  margin-bottom: 0;
  color: white;
  padding: 0;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.35s linear, transform 0.35s linear, height var(--animation-duration) linear, padding var(--animation-duration) var(--animation-duration) linear, margin var(--animation-duration) var(--animation-duration) linear, background-color var(--animation-duration) linear;
}
.notification.is-active {
  height: 100%;
  padding: 0.75rem;
  margin-bottom: 0.625rem;
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.35s var(--animation-duration) linear, transform 0.35s var(--animation-duration) linear, height var(--animation-duration) linear, padding var(--animation-duration) linear, margin var(--animation-duration) linear;
}
.notification--failed {
  background-color: var(--color-red);
}

.profile {
  display: flex;
  gap: 1.25rem;
  padding: 0.75rem;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  border-color: #282843;
  border-radius: 0.375rem;
  transition: background-color 0.15s linear;
}
@media only screen and (max-width: 40em) {
  .profile {
    gap: 0.75rem;
    flex-direction: column;
  }
  .profile .name,
.profile .email {
    text-align: center;
  }
}
.profile:hover {
  cursor: pointer;
  background-color: var(--color-primary);
}
.profile .image-wrapper img {
  height: 3.75rem;
  width: 3.75rem;
  min-width: 3.75rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.profile .content .email {
  color: var(--color-light-grey);
  font-size: 0.875rem;
}

.panel .container-wrapper {
  --columns: 16;
  grid-column: var(--column-start)/span var(--columns);
  --columns: 16;
  --column-start: 1;
  overflow-y: scroll;
}
@media only screen and (max-width: 50em) {
  .panel .container-wrapper {
    grid-column: var(--column-start-medium, var(--column-start))/span var(--column-medium, var(--columns));
  }
}
@media only screen and (max-width: 75em) {
  .panel .container-wrapper {
    grid-column: var(--column-start-large, var(--column-start-medium, var(--column-start)))/span var(--column-large, var(--column-medium, var(--columns)));
  }
}
.panel .container-wrapper::-webkit-scrollbar {
  display: none;
}
.panel .container-wrapper > .container {
  display: flex;
  gap: 1.25rem;
  border-radius: 0.75rem;
  padding: var(--panel-padding);
  background-color: var(--color-dark);
  min-height: 50rem;
}
.panel .container-wrapper > .container > .inner-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.panel .middle-section,
.panel .right-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.25rem;
  min-height: 43.75rem;
}
.panel .middle-section > section,
.panel .right-section > section {
  padding: 1rem;
  border-radius: 1.25rem;
  max-height: 18.75rem;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--color-light-dark);
}
.panel .middle-section > section::-webkit-scrollbar,
.panel .right-section > section::-webkit-scrollbar {
  width: 1.875rem;
}
.panel .middle-section > section::-webkit-scrollbar-thumb,
.panel .right-section > section::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  background-clip: padding-box;
  border-radius: 1.875rem;
  border-style: solid;
  border-width: 0.75rem;
  border-color: rgba(0, 0, 0, 0);
}
.panel .middle-section > section::-webkit-scrollbar-thumb:hover,
.panel .right-section > section::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-light-purple);
}
.panel .middle-section > section:not(.panel .middle-section > section.users, .panel .middle-section > section.lower, .panel .middle-section > section.full,
.panel .right-section > section.users,
.panel .right-section > section.lower,
.panel .right-section > section.full),
.panel .right-section > section:not(.panel .middle-section > section.users, .panel .middle-section > section.lower, .panel .middle-section > section.full,
.panel .right-section > section.users,
.panel .right-section > section.lower,
.panel .right-section > section.full) {
  min-height: 21.875rem;
}
.panel .middle-section > section.lower, .panel .middle-section > section.users,
.panel .right-section > section.lower,
.panel .right-section > section.users {
  min-height: 25rem;
  max-height: 18.75rem;
}
.panel .middle-section > section.full,
.panel .right-section > section.full {
  min-height: 48.125rem;
}
.panel .right-section {
  min-width: 20.375rem;
  max-width: 20.375rem;
}

.navigation {
  border-radius: 0.375rem;
  padding: 1rem;
}
.navigation .headline {
  text-align: center;
  color: var(--color-dark-purple);
  text-shadow: 0 0 12px var(--color-green-dark), 0 0 4px var(--color-green-dark), 0 0 4px var(--color-green-main);
}
.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 2rem 0;
}
.navigation ul li::before {
  content: none;
}
.navigation ul .is-icon {
  --color-icon: var(--color-light-grey);
}
.navigation ul .icon-dashboard::before {
  content: "\e905";
}
.navigation ul .icon-pages::before {
  content: "\e904";
}
.navigation ul .icon-settings::before {
  content: "\e906";
}
.navigation ul .link {
  width: 100%;
  border-radius: 0.625rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 3.5rem;
  padding-right: 0.75rem;
  text-shadow: 0 0 4px var(--color-green-dark);
}
.navigation ul .link:hover {
  color: white;
  background-color: var(--color-green-dark);
}
.navigation ul .link:hover.is-icon {
  --color-icon: white;
}
.navigation ul .link.is-active {
  background-color: var(--color-green-dark);
}
.navigation ul .link.is-active.is-icon {
  --color-icon: white;
}
.navigation ul li:not(:last-child) {
  margin-bottom: 0.375rem;
}

a {
  display: inline-block;
  text-decoration: none;
}

.link {
  position: relative;
  color: var(--color-links, white);
  transition: color 0.15s linear, background-color 0.15s ease-in-out;
}
.link.is-icon::before {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: never;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 50%;
  left: 0.625rem;
  transform: translateY(-50%);
  font-size: 1.25rem;
  color: var(--color-icon, white);
  transition: color 0.15s linear;
}

.page-header {
  margin-bottom: calc(var(--grid-margin) * 1.5);
}
.page-header .headline {
  margin-bottom: unset;
}
.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header .content {
  display: flex;
  gap: 2rem;
}

.users table {
  border-spacing: 0 0.25rem;
  margin-top: 0.25rem;
  overflow-x: scroll;
}
.users thead th {
  padding: 1rem 1rem;
}
.users tbody {
  margin: 0 -1rem;
}
.users tbody tr {
  transition: background-color 0.15s linear;
}
.users tbody tr th {
  padding-top: 0.75rem;
  padding-left: 1rem;
  padding-bottom: 0.75rem;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}
.users tbody tr td {
  text-align: center;
  vertical-align: middle;
  padding: 0.75rem 0;
}
.users tbody tr td:last-child {
  padding-top: 0.75rem;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}
.users tbody tr:hover {
  background-color: var(--color-dirty-blue);
}
.users .headline {
  margin-bottom: 2px;
}
.users .sub-headline {
  color: var(--color-light-grey);
  font-size: 0.75rem;
}
.users .table-wrapper {
  overflow: hidden;
  margin: 0 -1rem;
}
.users .head {
  display: flex;
  justify-content: space-between;
}
.users .head .tabs {
  display: flex;
  align-items: flex-end;
}
.users thead th:first-child {
  text-align: left;
}
.users thead th:last-child {
  padding-left: 0.25rem;
}
.users tbody tr:hover .email {
  color: white;
}
.users .user-profile {
  font-weight: normal;
  max-width: 21.875rem;
}
.users .user-profile .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}
.users .user-profile .name,
.users .user-profile .email {
  overflow-wrap: break-word;
  width: 100%;
  text-align: left;
}
.users .user-profile .name {
  text-align: left;
}
.users .user-profile .email {
  color: var(--color-light-grey);
  font-size: 0.75rem;
  transition: color 0.15s linear;
}
.users .empty-message {
  font-size: 1.25rem;
  margin-top: 1.5rem;
  text-align: center;
}
.users .button:not(.users .button.is-secondary) {
  padding: 0.25rem 1.25rem;
  text-transform: none;
  background-color: var(--color-dark-blue);
}
.users .button:not(.users .button.is-secondary)::after {
  background-color: var(--color-dark-blue);
}

table {
  display: table;
  border-collapse: separate;
  width: 100%;
}
table thead {
  display: table-header-group;
}
table tr {
  vertical-align: baseline;
}
table tbody {
  display: table-row-group;
}

.language-switch {
  position: relative;
}
.language-switch .language {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0 0.75rem;
  border-width: 2px;
  border-style: solid;
  border-color: var(--color-primary);
  border-radius: 0.5rem;
  z-index: 20;
  cursor: pointer;
  transition: background-color 0.15s linear;
}
.language-switch .language:hover {
  background-color: var(--color-dark-blue);
}
.language-switch .language.is-icon {
  padding-right: 1.875rem;
}
.language-switch .language.is-icon::after {
  content: "\e903";
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: never;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 50%;
  right: 0.375rem;
  font-size: 1.25rem;
  transform: translateY(-50%);
  transition: top 0.15s linear, transform 0.15s linear;
}
.language-switch .language.is-icon.open::after {
  top: 30%;
  transform-origin: center;
  transform: rotate(90deg);
}
.language-switch .sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-width: 2px;
  border-style: solid;
  border-color: var(--color-primary);
  border-radius: 0.5rem;
  background-color: var(--color-primary);
}
.language-switch .sub-menu .language {
  border: none;
}
.language-switch span {
  width: 60%;
  overflow-wrap: break-word;
}

.overview .charts {
  display: flex;
  gap: 1.875rem;
  justify-content: space-between;
  align-items: flex-end;
}
.overview .charts .doughnut {
  width: 13.75rem;
  height: 13.75rem;
}
.overview .charts .line {
  height: 11.25rem;
  width: 23.75rem;
}
.overview .online-users .bar {
  position: relative;
  width: 100%;
  height: 0.75rem;
  background-color: var(--color-dark);
  border-radius: 1.5rem;
}
.overview .online-users .inner-bar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0;
  height: 0.75rem;
  border-radius: 1.5rem;
  background-image: linear-gradient(to right, var(--color-dark-blue), var(--color-light-blue), var(--color-teal));
  transition: width 0.5s ease-in-out;
}

.page-list table {
  border-spacing: 0 0.25rem;
  margin-top: 0.25rem;
  overflow-x: scroll;
}
.page-list thead th {
  padding: 1rem 1rem;
}
.page-list tbody {
  margin: 0 -1rem;
}
.page-list tbody tr {
  transition: background-color 0.15s linear;
}
.page-list tbody tr th {
  padding-top: 0.75rem;
  padding-left: 1rem;
  padding-bottom: 0.75rem;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}
.page-list tbody tr td {
  text-align: center;
  vertical-align: middle;
  padding: 0.75rem 0;
}
.page-list tbody tr td:last-child {
  padding-top: 0.75rem;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}
.page-list tbody tr:hover {
  background-color: var(--color-light-purple);
}
.page-list .status.active .label {
  background-color: var(--color-light-green);
}
.page-list .status.inactive .label {
  color: white;
  background-color: var(--color-red);
}
.page-list .status .label {
  display: inline-block;
  padding: 0.375rem 0.625rem;
  border-radius: 1rem;
}
.page-list tbody tr th {
  padding-left: 0;
  vertical-align: middle;
  font-weight: normal;
}
.page-list tbody tr td:last-child {
  padding-right: 0;
}
.page-list td,
.page-list th {
  text-align: center;
}
.page-list .button {
  text-transform: none;
  padding: 0.375rem 1.25rem;
  background-color: var(--color-orange);
}
.page-list .button::after {
  background-color: var(--color-orange);
}

.history .user {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 0.875rem;
}
.history .user img {
  width: 2.5rem;
  height: 2.5rem;
  min-width: 2.5rem;
}
.history .user .image-wrapper::before {
  width: 0.875rem;
  height: 0.875rem;
}
.history ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.history ul li::before {
  content: none;
}
.history li:not(:last-child) {
  margin-bottom: 1.5rem;
}
.history .updated {
  padding-top: 4px;
  font-size: 0.75rem;
  color: var(--color-light-grey);
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.user-profile .image-wrapper {
  --color-profile-status: none;
  position: relative;
}
.user-profile .image-wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: var(--color-light-dark);
  background-color: var(--color-profile-status);
}
.user-profile img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  height: 3.125rem;
  width: 3.125rem;
  min-width: 3.125rem;
}
.user-profile .page {
  font-size: 0.75rem;
  color: var(--color-light-blue);
}

.pages-detail .status.active .label {
  background-color: var(--color-light-green);
}
.pages-detail .status.inactive .label {
  color: white;
  background-color: var(--color-red);
}
.pages-detail .status .label {
  display: inline-block;
  padding: 0.375rem 0.625rem;
  border-radius: 1rem;
}
.pages-detail .component {
  position: relative;
  padding-top: 0.75rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-bottom: 0.625rem;
  border-radius: 0.375rem;
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-green-dark);
}
.pages-detail .component > .head {
  position: absolute;
  top: -1.5rem;
  left: 0.375rem;
  background-color: var(--color-light-dark);
  padding: 0.25rem;
  font-size: 1.375rem;
}
.pages-detail .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pages-detail .container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pages-detail .container ul li::before {
  content: none;
}
.pages-detail .container li:not(:last-child) {
  margin-bottom: 2rem;
}
.pages-detail .actions {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.pages-detail .actions .back {
  background-color: var(--color-orange);
}
.pages-detail .actions .back::after {
  background-color: var(--color-orange);
}
.pages-detail .actions .submit {
  background-color: var(--color-green);
}
.pages-detail .actions .submit::after {
  background-color: var(--color-green);
}
