@use '../susanoo';

.add-component-item-popup,
.edit-component-item-popup {
    .container {
        height: 60vh;
        min-height: unset;
    }
    form {
        display: flex;
        flex: {
            direction: column;
        }
        height: 100%;
        input {
            padding: susanoo.rem-calc(8);
            background-color: var(--color-light-blue);
            border: {
                radius: susanoo.rem-calc(8);
            }
            &::placeholder {
                color: var(--color-dark-blue);
            }
        }
        .row {
            margin: {
                bottom: susanoo.rem-calc(16);
            }
        }
    }
    .actions {
        display: flex;
        justify-content: space-between;
        margin: {
            top: auto;
        }
        .submit {
            background: {
                color: var(--color-green);
            }
            &::after {
                background: {
                    color: var(--color-green);
                }
            }
        }
    }
    .delete {
        margin: {
            top: susanoo.rem-calc(16);
        }
        background: {
            color: var(--color-red);
        }
        &::after {
            background: {
                color: var(--color-red);
            }
        }
    }
}
