@use '../susanoo';
@use '../loading-states' as loading;

@mixin border() {
    border: {
        radius: susanoo.rem-calc(8);
        style: solid;
        width: 2px;
        color: transparent;
    }
}

.input {
    @include border();

    position: relative;
    background: {
        color: rgba(255, 255, 255, 0.3);
    }
    width: 100%;
    &.is-invalid {
        border: {
            color: var(--color-red);
        }
        + .error-message {
            color: var(--color-red);
            padding: {
                left: susanoo.rem-calc(12);
            }
        }
    }
    &.is-checkbox {
        position: relative;
        display: flex;
        align-items: center;
        gap: susanoo.rem-calc(8);
        background: {
            color: unset;
        }
        label {
            position: absolute;
            left: 0;
            width: 100%;
            padding: {
                left: susanoo.rem-calc(40);
            }
        }
    }
    &.is-icon {
        > input {
            padding: {
                left: susanoo.rem-calc(40);
            }
        }
        &::before {
            @include susanoo.icon(null, true);
            position: absolute;
            top: 50%;
            left: susanoo.rem-calc(10);
            transform: translateY(-50%);
            font: {
                size: susanoo.rem-calc(20);
            }
            color: rgba(0, 0, 0, 0.3);
        }
    }
    &:focus,
    &:focus-within {
        border: {
            color: var(--color-light-purple);
        }
        &::before {
            width: 100%;
        }
    }
}
.component {
    &:not(:last-child) {
        margin: {
            bottom: susanoo.rem-calc(42);
        }
    }
}
.component-inputs {
    display: flex;
    flex: {
        wrap: wrap;
    }
    gap: susanoo.rem-calc(16) susanoo.rem-calc(32);
    &.is-preview {
        .input {
            min: {
                height: susanoo.rem-calc(36);
            }
        }
    }
    &.is-active {
        .row {
            label {
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    @include loading.loading-content();
                }
            }
            > div {
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    @include loading.loading-content();
                }
            }
        }
    }
    input,
    textarea,
    select,
    .input {
        @include border();

        color: white;
        background: {
            color: #67707560;
        }
        padding: susanoo.rem-calc(6) susanoo.rem-calc(12);
        &:focus,
        &:focus-within {
            border: {
                color: var(--color-green-main);
            }
        }
    }
    label {
        display: block;
        margin: {
            bottom: susanoo.rem-calc(8);
        }
    }
    textarea,
    .textarea {
        min: {
            height: susanoo.rem-calc(150);
        }
    }
    .row {
        width: 100%;
        flex: {
            grow: 1;
        }
        gap: 0;
        &-half {
            $space: susanoo.rem-calc(32);

            padding: 0 $space;
            margin: 0 calc($space * -1);
            width: 50%;
        }
    }
    .is-invalid {
        input {
            border: {
                width: 2px;
                style: solid;
                color: var(--color-red);
            }
        }
        .error-message {
            color: var(--color-red);
        }
    }
}

input,
textarea,
select {
    width: 100%;
    border: {
        style: unset;
        width: unset;
        color: unset;
    }
    padding: susanoo.rem-calc(12);
    background: {
        color: transparent;
    }
    border: {
        radius: 2px;
    }
    color: var(--color-light-dark);
    &:focus,
    &:focus-within {
        outline: unset;
    }
    &::selection {
        background: var(--color-light-purple);
    }
}

textarea {
    resize: none;
    height: susanoo.rem-calc(150);
}

input {
    &[type='checkbox'] {
        display: grid;
        place-content: center;
        -webkit-appearance: none;
        appearance: none;
        background-color: var(--color-orange);
        margin: 0;
        padding: unset;

        font: inherit;
        color: currentColor;
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid var(--color-orange);
        border-radius: 0.15em;
        &.is-checked::before {
            transform: scale(1);
        }
        &::before {
            content: '';
            width: 0.65em;
            height: 0.65em;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em var(--form-control-color);
            background: {
                color: var(--color-primary);
            }
            transform-origin: bottom left;
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        }
    }
}

.row {
    display: flex;
    flex-direction: column;
    gap: 4px;
    &-half {
        $space: susanoo.rem-calc(32);

        padding: 0 $space;
        margin: 0 calc($space * -1);
        width: 50%;
    }
}
