@use '../susanoo';

.input {
    position: relative;
    background: {
        color: rgba(255, 255, 255, 0.3);
    }
    border: {
        radius: susanoo.rem-calc(8);
        style: solid;
        width: 2px;
        color: transparent;
    }
    width: 100%;
    &.is-invalid {
        border: {
            color: var(--color-red);
        }
        + .error-message {
            color: var(--color-red);
            padding: {
                left: susanoo.rem-calc(12);
            }
        }
    }
    &.is-icon {
        > input {
            padding: {
                left: susanoo.rem-calc(40);
            }
        }
        &::before {
            @include susanoo.icon(null, true);
            position: absolute;
            top: 50%;
            left: susanoo.rem-calc(10);
            transform: translateY(-50%);
            font: {
                size: susanoo.rem-calc(20);
            }
            color: rgba(0, 0, 0, 0.3);
        }
    }
    &:focus,
    &:focus-within {
        border: {
            color: var(--color-light-purple);
        }
        &::before {
            width: 100%;
        }
    }
}

input,
textarea {
    width: 100%;
    border: {
        style: unset;
        width: unset;
        color: unset;
    }
    padding: susanoo.rem-calc(12);
    background: {
        color: transparent;
    }
    border: {
        radius: 2px;
    }
    color: var(--color-light-dark);
    &:focus,
    &:focus-within {
        outline: unset;
    }
    &::selection {
        background: var(--color-primary);
    }
}

textarea {
    resize: none;
    height: susanoo.rem-calc(150);
}

.row {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
