@font-face {
    font: {
        family: 'icomoon';
        weight: normal;
        style: normal;
        display: block;
    }
    src: url('/icomoon.woff?9xu6g5') format('woff'), url('/icomoon.svg?9xu6g5#icomoon') format('svg');
}

@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: normal;
    src: local('Noto Sans JP Regular'), local('Noto-Sans-JP-Regular'), url('/noto-sans-regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans JP Bold'), local('Noto-Sans-JP-Bold'), url('/noto-sans-700.woff2') format('woff2');
    font-display: swap;
}
