@use '../susanoo';
@use '../lists/mixins' as lists;
@use '../utils/mixins' as utils;

.users {
    @include utils.default-table();
    .headline {
        margin: {
            bottom: 2px;
        }
    }
    .sub-headline {
        color: var(--color-light-grey);
        font: {
            size: susanoo.rem-calc(12);
        }
    }
    .table-wrapper {
        margin: 0 susanoo.rem-calc(-16);
    }
    .head {
        display: flex;
        justify-content: space-between;
        .tabs {
            display: flex;
            align-items: flex-end;
        }
    }
    thead {
        th {
            &:first-child {
                text-align: left;
            }
            &:last-child {
                padding: {
                    left: susanoo.rem-calc(4);
                }
            }
        }
    }
    tbody {
        tr {
            &:hover {
                .email {
                    color: white;
                }
            }
        }
    }
    .user-profile {
        display: flex;
        align-items: center;
        gap: susanoo.rem-calc(20);
        font: {
            weight: normal;
        }
        min: {
            width: susanoo.rem-calc(350);
        }
        max: {
            width: susanoo.rem-calc(350);
        }
        .image-wrapper {
            --color-profile-status: none;

            position: relative;
            &::before {
                $circle: #{susanoo.rem-calc(16)};

                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: $circle;
                height: $circle;
                border: {
                    radius: 50%;
                }
                background: {
                    color: var(--color-profile-status);
                }
            }
        }
        img {
            $square: #{susanoo.rem-calc(50)};

            object-fit: cover;
            border: {
                radius: 50%;
            }
            height: $square;
            width: $square;
            min: {
                width: $square;
            }
        }
        .info {
            display: flex;
            flex: {
                direction: column;
            }
            align-items: flex-start;
            width: 80%;
        }
        .name,
        .email {
            overflow-wrap: break-word;
            width: 100%;
            text-align: left;
        }
        .name {
            text-align: left;
        }
        .email {
            color: var(--color-light-grey);
            font: {
                size: susanoo.rem-calc(12);
            }
            transition: color 0.15s linear;
        }
    }
    .empty-message {
        font: {
            size: susanoo.rem-calc(20);
        }
        margin: {
            top: susanoo.rem-calc(24);
        }
        text-align: center;
    }
    .button {
        &:not(&.is-secondary) {
            padding: susanoo.rem-calc(4) susanoo.rem-calc(20);
            text-transform: none;
            background: {
                color: var(--color-dark-blue);
            }
            &::after {
                background: {
                    color: var(--color-dark-blue);
                }
            }
        }
    }
}
