@use '../susanoo';

.notification {
    --animation-duration: 0.35s;

    text-align: center;
    height: 0;
    width: 100%;
    border: {
        radius: 2px;
    }
    margin: {
        bottom: 0;
    }
    color: white;
    padding: 0;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.35s linear, transform 0.35s linear, height var(--animation-duration) linear, padding var(--animation-duration) var(--animation-duration) linear,
        margin var(--animation-duration) var(--animation-duration) linear, background-color var(--animation-duration) linear;
    &.is-active {
        height: 100%;
        padding: susanoo.rem-calc(12);
        margin: {
            bottom: susanoo.rem-calc(10);
        }
        opacity: 1;
        transform: translateX(0);
        transition: opacity 0.35s var(--animation-duration) linear, transform 0.35s var(--animation-duration) linear, height var(--animation-duration) linear,
            padding var(--animation-duration) linear, margin var(--animation-duration) linear;
    }
    &--failed {
        background: {
            color: var(--color-red);
        }
    }
}

.notification-message {
    position: relative;
    &.is-error {
        .notification {
            background: {
                color: var(--color-red);
            }
        }
    }
    .notification {
        border: {
            radius: susanoo.rem-calc(6);
        }
        background: {
            color: var(--color-green);
        }
    }
}
