@use '../susanoo';
@use 'variables';
@use 'mixins';

html {
    font: {
        size: clamp(#{susanoo.rem-calc(16)}, 2vw, #{susanoo.rem-calc(22)});
        family: variables.$font-family;
    }
}

.app {
    --grid-margin: #{susanoo.rem-calc(20)};
    --panel-padding: #{susanoo.rem-calc(16)};
}

.grid {
    @include mixins.grid();
    &--centered {
        @include mixins.grid-centered();
    }
}

.inner-panel {
    background-color: var(--color-light-dark);
}

.default-grid {
    display: flex;
    gap: var(--grid-margin);
}
