@use '../susanoo';

.add-input-popup {
    .title {
        text-align: center;
    }
    .inputs-container {
        display: grid;
        grid: {
            template: {
                columns: repeat(auto-fill, minmax(min(100%, #{susanoo.rem-calc(200)}), 1fr));
            }
            gap: susanoo.rem-calc(16);
        }
    }
    .input-type {
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: susanoo.rem-calc(16);
        border: {
            radius: susanoo.rem-calc(10);
        }
        background: {
            color: var(--color-dark-pink);
        }
        overflow: hidden;
        transition: background-color 0.3s ease-in-out;
        &:hover {
            background: {
                color: var(--color-orange);
            }
            &::before {
                transform: translate(100%) rotate(45deg);
            }
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: susanoo.rem-calc(20);
            background: {
                color: white;
            }
            transform: translateX(-100%) rotate(45deg);
            transition: transform 0.3s ease-in-out;
        }
        > span {
            display: block;
        }
    }
}
