@use '../susanoo';
@use '../grid/mixins' as grid;
@use '../utils' as utils;

.panel {
    .container-wrapper {
        @include grid.grid-item-extend();
        --columns: 16;
        --column-start: 1;

        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        > .container {
            display: flex;
            gap: susanoo.rem-calc(20);
            border: {
                radius: susanoo.rem-calc(12);
            }
            padding: var(--panel-padding);
            background: {
                color: var(--color-dark);
            }
            min: {
                height: susanoo.rem-calc(800);
            }
            > .inner-container {
                display: flex;
                flex: {
                    direction: column;
                }
                flex: {
                    grow: 1;
                }
            }
        }
    }
    .middle-section,
    .right-section {
        display: flex;
        flex: {
            direction: column;
        }
        width: 100%;
        gap: susanoo.rem-calc(20);
        min: {
            height: susanoo.rem-calc(700);
        }
        > section {
            @include utils.scrollbar();
            padding: susanoo.rem-calc(16);
            border: {
                radius: susanoo.rem-calc(20);
            }
            max: {
                height: susanoo.rem-calc(300);
            }
            overflow: {
                y: auto;
                x: hidden;
            }
            background: {
                color: var(--color-light-dark);
            }
            &:not(&.users, &.lower, &.full) {
                min: {
                    height: susanoo.rem-calc(350);
                }
            }
            &.lower,
            &.users {
                min: {
                    height: susanoo.rem-calc(400);
                }
                max: {
                    height: susanoo.rem-calc(300);
                }
            }
            &.full {
                min: {
                    height: susanoo.rem-calc(770);
                }
            }
        }
    }
    .right-section {
        $width: #{susanoo.rem-calc(326)};

        min: {
            width: $width;
        }
        max: {
            width: $width;
        }
    }
}
