@use '../susanoo';

.page-header {
    margin: {
        bottom: calc(var(--grid-margin) * 1.5);
    }
    .headline {
        margin: {
            bottom: unset;
        }
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .content {
        display: flex;
        gap: susanoo.rem-calc(32);
    }
}
