html {
    --color-primary: #3c2d66;
    --color-light-purple: rgba(122, 61, 231, 85%);
    --color-light-dark: #212131;
    --color-dark: #171621;
    --color-light-grey: #677075;
    --color-light-blue: #5b7edf;
    --color-dirty-blue: #4f7079;
    --color-dark-blue: #333399;
    --color-pink: #ff00cc;
    --color-red: rgb(255 0 0 / 87%);
    --color-teal: rgb(0 255 255 / 87%);
    --color-green: #41b784;
}
