html {
    --color-primary: #7a3de7;
    --color-light-purple: rgba(122, 61, 231, 85%);
    --color-light-dark: #212131;
    --color-light-grey: #677075;
    --color-light-blue: #5b7edf;
    --color-dark-blue: #333399;
    --color-pink: #ff00cc;
    --color-red: rgb(255 0 0 / 87%);
}
