html {
    --color-primary: #3c2d66;
    --color-light-purple: rgba(122, 61, 231, 85%);
    --color-light-dark: #212131;
    --color-dark-purple: #140b28;
    --color-dark: #171621;
    --color-light-grey: #677075;
    --color-light-blue: #5b7edf;
    --color-dirty-blue: #4f7079;
    --color-dark-blue: #333399;
    --color-dark-blue2: hsl(240, 100%, 70%);
    --color-pink: #ff00cc;
    --color-dark-pink: #ff00cc70;
    --color-red: rgb(255 0 0 / 87%);
    --color-teal: rgb(0 255 255 / 87%);
    --color-green: #41b784;
    --color-light-green: #68e359;
    --color-green-main: #1ede97;
    --color-green-dark: #1b4a49;
    --color-orange: #fe8757;
    --color-dark1: #443b6c;
    --color-dark1-light: #443b6c70;
    --color-dark2: #333e5c;
    --color-dark2-light: #333e5c94;
}
