@use '../susanoo';
@use '../lists';

.add-component {
    ul {
        @include lists.reset-list();

        display: flex;
        flex-direction: column;
        gap: susanoo.rem-calc(16);
    }
    .component {
        position: relative;
        cursor: pointer;
        padding: susanoo.rem-calc(16);
        background: {
            image: linear-gradient(to right bottom, var(--color-dark1-light), var(--color-dark2-light));
        }
        border: {
            radius: susanoo.rem-calc(10);
        }
        overflow: hidden;
        transition: background-color 0.3s ease-in-out;
        &:hover {
            background: {
                color: #443b6c;
            }
            &::before {
                transform: translate(100%) rotate(45deg);
            }
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: susanoo.rem-calc(20);
            background: {
                color: white;
            }
            transform: translateX(-100%) rotate(45deg);
            transition: transform 0.3s ease-in-out;
        }
    }
    .name {
        font: {
            size: susanoo.rem-calc(18);
        }
    }
}
