@use '../susanoo';
@use '../utils/mixins' as utils;
@use '../lists/mixins' as lists;

.pages-detail {
    @include utils.status();

    .component {
        $padding: #{susanoo.rem-calc(10)};

        position: relative;
        padding: {
            top: susanoo.rem-calc(12);
            left: $padding;
            right: $padding;
            bottom: $padding;
        }
        border: {
            radius: susanoo.rem-calc(6);
            style: solid;
            width: 2px;
            color: var(--color-green-dark);
        }
        &.is-active {
            .head {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: var(--color-teal);
                font: {
                    size: susanoo.rem-calc(32);
                }
                z-index: 2;
                background: {
                    color: transparent;
                }
            }
        }
        .delete-button {
            position: absolute;
            top: susanoo.rem-calc(-12);
            right: susanoo.rem-calc(-10);
            background: {
                color: var(--color-red);
            }
            transform: scale(0.1);
            opacity: 0;
            visibility: hidden;
            transition: transform 0.15s linear, opacity 0.15s linear, visibility 0s 0.15s linear;
            &.is-active {
                transform: scale(1);
                opacity: 1;
                visibility: visible;
                transition: transform 0.15s linear, opacity 0.15s linear;
            }
            &::after {
                background: {
                    color: var(--color-red);
                }
            }
            > span {
                display: none;
            }
        }
        > .head {
            position: absolute;
            top: susanoo.rem-calc(-24);
            left: susanoo.rem-calc(6);
            background-color: var(--color-light-dark);
            padding: susanoo.rem-calc(4);
            font: {
                size: susanoo.rem-calc(22);
            }
            transition: top 0.2s linear, left 0.2s linear, font-size 0.2s linear, color 0.2s linear, transform 0.2s linear;
        }
    }
    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: {
            wrap: wrap;
        }
        margin: {
            bottom: susanoo.rem-calc(16);
        }
        .headline {
            margin: {
                bottom: unset;
            }
        }
        .actions {
            display: flex;
            gap: susanoo.rem-calc(12);
            align-self: flex-start;
            flex: {
                direction: column;
            }
            .row {
                display: flex;
                flex-direction: row;
            }
            .button {
                &.preview {
                    $padding: susanoo.rem-calc(8);

                    text-transform: unset;
                    text-align: center;
                    background-color: var(--color-orange);
                    padding: {
                        top: $padding;
                        bottom: $padding;
                    }
                    &::after,
                    &::before {
                        background: {
                            color: var(--color-orange);
                        }
                    }
                }
            }
        }
    }
    .container {
        margin: {
            top: susanoo.rem-calc(24);
        }
        ul {
            @include lists.reset-list();
        }
        li {
            &:not(:last-child) {
                margin: {
                    bottom: susanoo.rem-calc(32);
                }
            }
        }
    }
    .no-components {
        text-align: center;
    }
    .actions {
        display: flex;
        justify-content: space-between;
        margin: {
            top: susanoo.rem-calc(32);
        }
        .back {
            background: {
                color: var(--color-orange);
            }
            &::after {
                background: {
                    color: var(--color-orange);
                }
            }
        }
        .submit {
            background: {
                color: var(--color-green);
            }
            &::after {
                background: {
                    color: var(--color-green);
                }
            }
        }
    }
    button {
        &.delete {
            background: {
                color: var(--color-red);
            }
            &::after {
                background: {
                    color: var(--color-red);
                }
            }
        }
    }
    .edit-bar-popup {
        .headline {
            text-align: center;
            color: var(--color-white);
        }
        .container {
            $height: susanoo.rem-calc(250);

            display: flex;
            flex-direction: column;
            max: {
                height: $height;
            }
            min: {
                height: $height;
            }
        }
        .text {
            font: {
                size: susanoo.rem-calc(14);
            }
            text-align: center;
            color: var(--color-red);
        }
        .actions {
            margin: {
                top: auto;
            }
        }
    }
    .delete-language-popup {
        .container {
            height: fit-content;
            min: {
                height: unset;
            }
        }
    }
    .components-language-bar {
        padding: susanoo.rem-calc(8);
        border: {
            radius: susanoo.rem-calc(6);
        }
        background: {
            color: var(--color-dark);
        }
        ul {
            @include lists.reset-list();

            display: flex;
            gap: susanoo.rem-calc(8);
        }
        .language-box {
            position: relative;
            &.is-active {
                .delete-box {
                    transform: scale(1);
                    visibility: visible;
                }
            }
            .delete-box {
                position: absolute;
                top: susanoo.rem-calc(-6);
                right: susanoo.rem-calc(-6);
                padding: 2px;
                background: {
                    color: var(--color-red);
                }
                border: {
                    radius: 4px;
                }
                opacity: 0.8;
                transform: scale(0);
                visibility: hidden;
                transition: opacity 0.2s linear, transform 0.15s linear;
                &:hover {
                    opacity: 1;
                }
            }
        }
        .panel {
            cursor: pointer;
            transition: background-color 0.2s linear;
            width: fit-content;
            padding: susanoo.rem-calc(4) susanoo.rem-calc(8);
            border: {
                radius: susanoo.rem-calc(6);
                width: 1px;
                style: solid;
                color: var(--color-dark2);
            }
            &:hover {
                background: {
                    color: var(--color-light-dark);
                }
            }
            &.is-active {
                background: {
                    color: var(--color-dark2);
                }
            }
        }
        .add-language {
            $border-radius: susanoo.rem-calc(6);

            position: relative;
            height: 100%;
            .language-dropdown {
                position: absolute;
                left: 0;
                top: 110%;
                border: {
                    radius: $border-radius;
                }
                background: {
                    color: var(--color-dark1);
                }
                z-index: 9999;
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.1s linear, visibility 0.1s linear;
                &.is-active {
                    opacity: 1;
                    visibility: visible;
                }
                .language {
                    cursor: pointer;
                    padding: susanoo.rem-calc(8);
                    transition: background-color 0.2s linear;
                    &:hover {
                        background: {
                            color: var(--color-light-dark);
                        }
                    }
                }
            }
            ul {
                display: flex;
                flex-direction: column;
                gap: 0;
                li {
                    &:first-child {
                        .language {
                            border-top-left-radius: $border-radius;
                            border-top-right-radius: $border-radius;
                        }
                    }
                    &:last-child {
                        .language {
                            border-bottom-left-radius: $border-radius;
                            border-bottom-right-radius: $border-radius;
                        }
                    }
                }
            }
        }
        .add-button {
            padding: susanoo.rem-calc(6) susanoo.rem-calc(8);
            height: 100%;
            background: {
                color: var(--color-light-dark);
            }
            border: {
                radius: susanoo.rem-calc(6);
            }
            transition: background-color 0.2s linear;
            &:hover {
                background: {
                    color: var(--color-dirty-blue);
                }
            }
        }
    }
    .tabs {
        display: flex;
        margin: {
            top: susanoo.rem-calc(8);
            bottom: susanoo.rem-calc(32);
        }
        button {
            width: 100%;
        }
    }
    .add-component-item {
        width: 100%;
        margin: {
            top: susanoo.rem-calc(16);
        }
    }
    ul {
        .page-component-item {
            background: {
                color: var(--color-light-blue);
            }
            padding: susanoo.rem-calc(8);
            cursor: pointer;
            transition: background-color 0.2s linear;
            &:hover {
                background: {
                    color: var(--color-dark-blue);
                }
            }
            &:first-child {
                margin: {
                    top: susanoo.rem-calc(16);
                }
            }
            &:not(:last-child) {
                margin: {
                    bottom: susanoo.rem-calc(16);
                }
            }
        }
    }
    .page-seo {
        .form-container {
            display: flex;
            flex-wrap: wrap;
            gap: susanoo.rem-calc(12);
        }
        .input {
            background: {
                color: var(--color-dark2);
            }
            border-color: var(--color-dark2);
        }
        input,
        textarea {
            color: var(--color-white);
            &::placeholder {
                color: var(--color-light-blue);
            }
        }
        .row {
            flex-grow: 1;
            &:not(&.row-half) {
                width: 100%;
            }
            &.favicon {
                pointer-events: none;
                opacity: 0.5;
            }
            &.description {
                textarea {
                    height: susanoo.rem-calc(120);
                }
            }
            label {
                margin-bottom: susanoo.rem-calc(6);
            }
        }
    }
    .edit-bar {
        display: flex;
        align-items: center;
        transform: translateX(-50%);
        padding: susanoo.rem-calc(8);
        margin: {
            bottom: susanoo.rem-calc(16);
        }
        border: {
            radius: susanoo.rem-calc(6);
        }
        height: 0;
        background: {
            color: var(--color-dark2-light);
        }
        opacity: 0;
        transition: opacity 0.2s linear, transform 0.2s linear, height 0s 0.2s linear;
        &.is-active {
            height: 100%;
            transform: translateX(0);
            opacity: 1;
            transition: opacity 0.2s linear, transform 0.2s linear;
        }
        .edit-actions {
            display: flex;
            gap: susanoo.rem-calc(12);
        }
        .switch-container {
            display: flex;
            gap: susanoo.rem-calc(12);
            margin: {
                left: auto;
            }
        }
        button {
            text-transform: unset;
            padding: susanoo.rem-calc(8);
            font: {
                size: susanoo.rem-calc(14);
            }
            &:disabled {
                background: {
                    color: var(--color-dark2-light);
                }
                &::after,
                &::before {
                    content: unset;
                }
            }
        }
    }
}
