@use '../susanoo';
@use '../utils/mixins' as utils;
@use '../lists/mixins' as lists;

.pages-detail {
    @include utils.status();

    .component {
        $padding: #{susanoo.rem-calc(10)};

        position: relative;
        padding: {
            top: susanoo.rem-calc(12);
            left: $padding;
            right: $padding;
            bottom: $padding;
        }
        border: {
            radius: susanoo.rem-calc(6);
            style: solid;
            width: 2px;
            color: var(--color-green-dark);
        }
        &.is-active {
            .head {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: var(--color-teal);
                font: {
                    size: susanoo.rem-calc(32);
                }
                z-index: 2;
                background: {
                    color: transparent;
                }
            }
        }
        .delete-button {
            position: absolute;
            top: susanoo.rem-calc(-12);
            right: susanoo.rem-calc(-10);
            background: {
                color: var(--color-red);
            }
            transform: scale(0.1);
            opacity: 0;
            visibility: hidden;
            transition: transform 0.15s linear, opacity 0.15s linear, visibility 0s 0.15s linear;
            &.is-active {
                transform: scale(1);
                opacity: 1;
                visibility: visible;
                transition: transform 0.15s linear, opacity 0.15s linear;
            }
            &::after {
                background: {
                    color: var(--color-red);
                }
            }
            > span {
                display: none;
            }
        }
        > .head {
            position: absolute;
            top: susanoo.rem-calc(-24);
            left: susanoo.rem-calc(6);
            background-color: var(--color-light-dark);
            padding: susanoo.rem-calc(4);
            font: {
                size: susanoo.rem-calc(22);
            }
            transition: top 0.2s linear, left 0.2s linear, font-size 0.2s linear, color 0.2s linear, transform 0.2s linear;
        }
    }
    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .headline {
            margin: {
                bottom: unset;
            }
        }
        .actions {
            display: flex;
            gap: susanoo.rem-calc(12);
        }
    }
    .container {
        margin: {
            top: susanoo.rem-calc(24);
        }
        ul {
            @include lists.reset-list();
        }
        li {
            &:not(:last-child) {
                margin: {
                    bottom: susanoo.rem-calc(32);
                }
            }
        }
    }
    .actions {
        display: flex;
        justify-content: space-between;
        margin: {
            top: susanoo.rem-calc(32);
        }
        .back {
            background: {
                color: var(--color-orange);
            }
            &::after {
                background: {
                    color: var(--color-orange);
                }
            }
        }
        .submit {
            background: {
                color: var(--color-green);
            }
            &::after {
                background: {
                    color: var(--color-green);
                }
            }
        }
    }
}
